body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.video-background {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 1; /* Фон видео */
    transform: translate(-50%, -50%);
    opacity: 0; /* Скрыто по умолчанию */
    animation: showVideo 2s ease-in forwards; /* Плавное появление видео */
}

/* Индикатор загрузки */
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2; /* Анимация загрузки поверх видео */
}

.loader {
    width: 50px;
    height: 50px;
    border: 6px solid rgba(255, 255, 255, 0.3);
    border-top-color: rgba(255, 0, 0, 0.8);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/* Анимации */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes showVideo {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
