@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --clr: #222327;
}

body {
    background: var(--clr);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1; /* Панель с контентом будет занимать оставшееся место */
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel {
    width: 300px;
    height: 200px;
    background: rgba(255, 255, 255, 0.8);
    position: fixed;
    bottom: 80px; /* Отступим от нижней панели меню */
    left: 50%;
    transform: translateX(-50%);
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.panel.active {
    display: flex;
}

.panel .content-text {
    text-align: center;
    color: #333;
    font-size: 1.2em;
}
