* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.info-container {
    position: fixed;
    font-size: 1.2rem; /* Уменьшаем размер текста */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Выравниваем текст по левому краю */
    justify-content: flex-start; /* Располагаем текст сверху */
    text-align: left;
    color: black;
    font-weight: 500;
    top: 0;
    right: -28vw; /* Начальное положение вне экрана */
    width: 25vw; /* Возвращаем прежнюю ширину бокового меню */
    height: 100%; /* Прежняя высота бокового меню */
    background: linear-gradient(45deg, 
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.9),
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.3)
    );
    background-size: 400%;
    animation: gradientAnimation 10s ease infinite;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    transition: right 0.5s ease;
    z-index: 10;
    padding: 20px;
}

.info-container.show {
    right: 0; /* Показать контейнер */
}

.info-content {
    margin-top: 20px;
    margin-left: 10%; /* Сдвигаем текст влево, чтобы компенсировать уменьшение ширины */
    color: rgba(34, 34, 34, 0.8);
    word-wrap: break-word;
    max-width: 90%; 
    font-size: 1.1rem; /* Дополнительно уменьшаем размер текста для улучшенной читаемости */
    line-height: 1.5;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
