@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.info-container {
    position: fixed;
    top: 0;
    right: -300px; /* Начальное положение вне экрана */
    width: 300px;
    height: 100%;
    background: linear-gradient(45deg, 
        rgba(255, 255, 255, 0.3),  /* Полупрозрачный белый */
        rgba(255, 255, 255, 0.4),  /* Полупрозрачный белый */
        rgba(255, 255, 255, 0.5),  /* Полупрозрачный белый */
        rgba(255, 255, 255, 0.6),  /* Полупрозрачный белый */
        rgba(255, 255, 255, 0.7),  /* Полупрозрачный белый */
        rgba(255, 255, 255, 0.8),  /* Полупрозрачный белый */
        rgba(255, 255, 255, 0.9),  /* Полупрозрачный белый */
        rgba(255, 255, 255, 0.6),  /* Полупрозрачный белый */
        rgba(255, 255, 255, 0.5),  /* Полупрозрачный белый */
        rgba(255, 255, 255, 0.4),  /* Полупрозрачный белый */
        rgba(255, 255, 255, 0.3)   /* Полупрозрачный белый */
    );
    background-size: 400%; /* Увеличиваем размер фона для анимации */
    animation: gradientAnimation 10s ease infinite; /* Анимация градиента */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3); /* Тень справа */
    transition: right 0.5s ease; /* Плавный переход */
    z-index: 10;

    display: flex; /* Используем flexbox */
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    text-align: center; /* Текст выравниваем по центру */
    overflow: hidden; /* Обрезаем текст, выходящий за границы */
}

.info-container.show {
    right: 0; /* Показать контейнер */
}

.info-content {
    padding: 20px;
    color: rgba(34, 34, 34, 0.7); /* Темно-серый цвет текста с прозрачностью */
    word-wrap: break-word; /* Перенос длинных слов на новую строку */
    max-width: 100%; /* Ограничение ширины текста */
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
