@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --clr: #222327;
    --highlight: #FF4500;
}

body.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--clr);
}

.navigation {
    width: 100%;
    height: 80px;
    background: linear-gradient(45deg, #FF6347, #FF4500, #FF0000, #B22222, #8B0000, #D2691E, #CD5C5C, #F08080, #FF1493);
    background-size: 400%;
    animation: gradientAnimation 10s ease infinite;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.navigation ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.navigation ul li {
    position: relative;
    list-style: none;
}

.navigation ul li a {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--clr);
    font-size: 0.9em;
    transition: transform 0.3s, color 0.3s;
}

.navigation ul li a .icon {
    font-size: 1.8em;
    color: #FFF;
    transition: transform 0.3s, color 0.3s;
}

.navigation ul li.active a .icon {
    transform: scale(1.3);
    color: var(--highlight);
}

.navigation ul li.active a .text {
    color: var(--highlight);
}

.navigation ul li a .text {
    margin-top: 5px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s, transform 0.3s;
}

.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(0);
}

.indicator {
    position: absolute;
    bottom: 60px;
    left: 50%;
    width: 50px;
    height: 50px;
    background: var(--highlight);
    border-radius: 50%;
    transform: translateX(-50%);
    transition: all 0.5s ease;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
